# Copy this file to .env.server on the server.
SECRET_KEY=replace-with-a-long-random-string
TEST_USER_PASSWORD=123456
GANACHE_MNEMONIC=test test test test test test test test test test test junk
GUNICORN_THREADS=8
GUNICORN_TIMEOUT=120
